<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>
        Blockchain
    </title>
</head>
<body>
<h1>Blockchain</h1>
<div class="split">
    <div>
        <h2>Actions</h2>
        <a class="button" href="{{ url_for('mine') }}">Mine</a>
    </div>
    <div>
        <h2>Chain</h2>
        <div class="json">{{chain}}</div>

        <h2>Current transactions</h2>
        <div class="json">{{ current_transactions }}</div>
    </div>
</div>
</body>
</html>
